%article.biz_category
  - @categories.each do |category|
    %header    
      %h2= link_to category.name, category
    .biz.row    
      - category.businesses.each do |business|
        .biz.col-sm-2  
          = link_to business do
            %h4= business.name