%article.biz
  .container
    .row
      .biz-info
        %header
          %h1 Kohimomento cafe
          %h4 Rating: 4.5/5.0
          %h4 Category: Cafe
          %p Address: No.270, Zhongjian W. Rd., Douliu City 
          %p Region: Yunlin County
          %p Country: Taiwan
    
%hr
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %form
        %fieldset
          .form-group
            %label Rate this business
            .row
              .col-sm-3
                %select.form-control(name="")
                  %option(value="5") 5 Stars
                  %option(value="4") 4 Stars
                  %option(value="3") 3 Stars
                  %option(value="2") 2 Stars
                  %option(value="1") 1 Star
          .form-group
            %label Write Review
            .row
              .col-sm-8
                %textarea.form-control(name="" rows="6")
        %fieldset.form-group.actions.clearfix
          %input(type="submit" value="Submit" class="btn")
          %a(href="") Cancel
      %header
        %h3 Recommended Reviews (253)
      %ul
        - 8.times do
          %article.review
            %li.row
              .col-sm-2
                %span Rating: 5 / 5
                %p by <a href="">John A. Zoidberg</a>
              .col-sm-8
                %p With so few reviews, your opinion of Kohimomento cafe  could be huge. Start your review today.
