%article.biz_category
  - 3.times do
    %ul.nav.nav-pills.nav-stacked
      %li
        %a{:href => "#"} Coffee & Tea
      %li
        %a{:href => "#"} Restaurants
      %li
        %a{:href => "#"} Bars