%article.reviews
  %section.reviews.container
    .row
      %reviews.col-sm-9.col-sm-offset-1
        %header
          %h1 Recent Reviews
        %ul
          - 6.times do                   
            %li.row        
              .col-sm-9
                %h5 <a href="">Kohimomento cafe</a>  reviewed by <a href="">John A. Zoidberg</a>
                %h5 Rating: 5 / 5
                %p With so few reviews, your opinion of Kohimomento cafe  could be huge. Start your review today.