%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header          
          %h2 Joe's business collections (8)
          %button.btn.btn-default Follow
        %table.table
          %thead
            %tr
              %th(width="30%") Business Title
              %th(width="15%") Genre
          %tbody
            - 8.times do
              %tr
                %td
                  = link_to "Kohimomento cafe"
                %td
                  = link_to "Cafe"

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 Joe's Reviews (253)
      %ul
        - 8.times do
          %article.review
            %li.row
              .col-sm-2
                %p
                  = link_to "\"Kohimomento cafe\""
                %col Rating: 5 / 5
              .col-sm-8
                %p With so few reviews, your opinion of Kohimomento cafe  could be huge. Start your review today.
