
/* genaral */

body {
  background-color: #f5f1f1;
}

section.ui-index {
  background: #f7f7f7;
  padding: 30px;
}

/* header */

.navbar-default {
  margin-bottom: 0 px;
  background-color: #F8B6B5;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: 80px;
  height: 80px;
}

.navbar {
  margin-bottom: 0;  
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-transform: uppercase;
}

.navbar-nav {
  font-size: 20px; 
  li {
    a {
      line-height: 40px;
    }
  }
}

.navbar-form {
  padding-top: 13px;
  padding: 10px 85px;
  .form-group {
    margin-left: 10px;
  }
}

.navbar-form .form-control {
  width: 240px;
}

.form-control {
  border-radius: 20px;  
}

.navbar-right {
  margin-right: 0px;
}

/* main section */

section.content.clearfix { 
  margin: 0 60px;
  border-bottom: 5px solid #F8B6B5;
}

/* footer */

footer.container {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 80px;
  padding: 0;
  font-size: large;
}
