article.biz_category {
  background-color: #F7F7F7;
  border: 1px solid #ccccc8;
  margin-bottom: 30px;
  padding: 30px;
  
  header {
    margin-bottom: 20px;
    h2 {      
      a {
        color: black;
      }
    }
  }

  .biz.row {
    .biz {
      a {
        text-decoration: none;
      }
    }
  }
}
