section.site_title {
  background: #f7f7f7;
  padding: 100px 200px;
  margin: 0 100px;
  border: 1px solid #ccccc8;
}

section.register.container, section.sign_in, {
  form {
    background: #f7f7f7;
    padding: 30px;
    border: 1px solid #ccccc8;
  }
}